<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MIS677_Team4_LoginScreen_V2.Properties.Settings.GROUP4ConnectionString"
            connectionString="Data Source=10.135.85.168;Initial Catalog=GROUP4;Persist Security Info=True;User ID=Group4;Password=Grp42116$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>